.market-preview {
	width: 100%;
	border-bottom: 1px dotted rgba(128, 128, 128, 0.335);
	display: grid;
	grid-template-columns: 40% 12% 12% 12% 12% auto;
	grid-template-rows: 80px;
	grid-template-areas: 'title' 'previous-close' 'precent' 'change' 'price' 'btn-details';
	& > * {
		padding: 0.25rem;
		margin-inline-end: 0 2%;
		font-size: 0.85rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.title {
		grid-area: 'title';
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		main {
			display: flex;
			.tag {
				text-align: center;
				text-shadow: 0.5px 1px 0.5px #00000075;
				border-radius: 0.5em;
				padding: 0.25rem;
				height: 2rem;
				width: 80px;
				margin-inline-end: 24px;
			}
		}
	}
	.previous-close {
		grid-area: 'previous-close';
	}
	.precent {
		grid-area: 'precent';
	}
	.change {
		grid-area: 'change';
	}
	.price {
		grid-area: 'price';
	}
	.btn-details {
		grid-area: 'btn-details';
		background-color: transparent;
		border: none;
		color: $txt;
		&:hover {
			color: $brand;
		}
	}
	.state {
		align-self: center;
		margin: auto;
		border-radius: 0.5em;
		height: 2rem;
		font-size: 0.75rem;
		width: 90%;
	}
	.market-rise {
		background-color: #f0f9eb;
		border: 1px solid #e1f3d8;
		color: #67c23a;
		&::before {
			content: '+';
		}
	}
	.market-decline {
		background-color: #fef0f0;
		border: 1px solid #fde2e2;
		color: #f56c6c;
	}
}
