.market-preview {
	width: 100%;
	border-bottom: 1px dotted $thirdBgc;
	display: grid;
	cursor: pointer;
	& > * {
		padding: 0.5rem;
		margin-inline-end: 0 2%;
		font-size: 0.85rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.previous-close {
		grid-area: 'previous-close';
	}
	.precent {
		grid-area: 'precent';
	}
	.change {
		grid-area: 'change';
	}
	.price {
		grid-area: 'price';
	}
	.state {
		align-self: center;
		margin: auto;
		border-radius: 0.5em;
		height: 2rem;
		font-size: 0.75rem;
		width: 90%;
		&.market-rise {
			background-color: #f0f9eb;
			border: 1px solid #e1f3d8;
			color: #67c23a;
			&::before {
				content: '+';
			}
		}
		&.market-decline {
			background-color: #fef0f0;
			border: 1px solid #fde2e2;
			color: #f56c6c;
		}
	}
}

@media (max-width: $break-mobile) {
	.market-preview {
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
			'title title'
			'previous-close' 'precent'
			'change' 'price';
	}
}
@media (min-width: $break-mobile) and (max-width: $break-narrow) {
	.market-preview {
		grid-template-columns: repeat(4, 1fr);
		grid-template-areas:
			'title title title title'
			'previous-close' 'precent' 'change' 'price';
	}
}

@media (min-width: $break-narrow) {
	.market-preview {
		grid-template-rows: 80px;
		grid-template-columns: 50% 12% 12% 12% 12%;
		grid-template-areas: 'title' 'previous-close' 'precent' 'change' 'price';
	}
}
