.market-page {
	height: $mainContentHeight;
	overflow-x: hidden;
	.market-img {
		width: 125%;
		height: 20rem;
		z-index: 0;
		overflow: hidden;
		object-fit: cover;
		transform: rotateZ(-5deg) translateY(-4rem) translateX(0);
	}
}

@keyframes container-appears {
	from {
		opacity: 0;
		transform: translateY(3rem);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}
