.market-details {
	width: 100%;
	.main-content {
		position: fixed;
		left: 12.5%;
		top: 12.5%;
		transform: translate(-50%, -50%);
		z-index: 100;
		width: 75%;
		height: 75%;
		background: #fff;
		color: $mainBgc;
		header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: $layoutPadding / 2;
			button {
				background-color: transparent;
				border: none;
				padding: 0;
				color: $mainBgc;
				&:hover {
					color: $brand;
				}
			}
		}
		ul {
			overflow-y: scroll;
		}
		li {
			&:nth-child(even) {
				background-color: $thirdBgc;
			}
		}
	}
}
