.playlist-details {
	display: flex;
	flex-direction: column;
	padding: $layoutPadding;
	max-height: $mainContentHeight;
	.playlist-info{
		max-height: 210px;
		display: flex;
		gap: 20px;
		.farther-info{
			display: flex;
			gap:20px;
		}
	}
}
