// Montserrat
@font-face {
    font-family: Montserrat, sans-serif;
    src: url(~@/assets/fonts/Montserrat/Montserrat.ttf);
}
@font-face {
    font-family: 'Montserrat-bold', sans-serif;
    src: url(~@/assets/fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
    font-family: 'Montserrat-italic', sans-serif;
    src: url(~@/assets/fonts/Montserrat/Montserrat-Italic.ttf);
}

// Gotham
@font-face {
    font-family: Gotham, sans-serif;
    src: url(~@/assets/fonts/Gotham/Gotham.ttf);
}
@font-face {
    font-family: 'Gotham-Bold', sans-serif;
    src: url(~@/assets/fonts/Gotham/Gotham-Bold.ttf);
}