// Montserrat
@font-face {
    font-family: Montserrat;
    src: url(~@/assets/fonts/Montserrat/Montserrat.ttf);
}
@font-face {
    font-family: Montserrat-bold;
    src: url(~@/assets/fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
    font-family: Montserrat-italic;
    src: url(~@/assets/fonts/Montserrat/Montserrat-Italic.ttf);
}

// Gotham
@font-face {
    font-family: Gotham;
    src: url(~@/assets/fonts/Gotham/Gotham.ttf);
}
@font-face {
    font-family: Gotham-Bold;
    src: url(~@/assets/fonts/Gotham/Gotham-Bold.ttf);
}