
// COLOR PALETTE
$mainBgc: rgb(83, 83, 83);;
$secBgc: #111;
$txt: #fff;
$brand: #1abc9c;
$cardBgc: hsl(0, 0%, 9%);
$cardHoverBgc: #282828;

// LAYOUT
$layoutPadding: 20px;
$headerHeight: 50px;
$mainContentHeight: calc(100vh - $headerHeight);

// LAYOUT BREAKPOINTS
$break-narrow: 460px;
$break-normal: 640px;
$break-wide: 960px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;