.app-header{
    flex-grow: $headerHeight;
    padding: calc($layoutPadding / 2) $layoutPadding;
    display: flex;
    justify-content: space-between;
    z-index: 50;
    background-color: $mainBgc;
    
}